---
import Social from "./Social.astro";

const platform = "github";
const username = "AhmadJamal04";
---

<footer>
  <p>Learn more about my projects on <Social platform={platform} username={username}/>!</p>
</footer>